outputs/ 
__pycache__/
.vscode/
lightning_logs/
wandb/
demo/
audiocraft
backup
seed_tts.
seed_tts.*
pretrained_models/
*.py[cod]
data/LibriTTS_R/
data/tokenized_wds/
exp/
tmp/
*.pt
*.pth
*.ckpt
*.tar
*.wav
*.flac
*.mp3
*.log
data/samples/mfa_alignments/
masking/
